<a href="https://colab.research.google.com/github/AnanyaGodse/Intelligent-Systems/blob/main/IS_Exp_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name: Ananya Godse SAP ID: 60009220161 Batch: D1-1**

#### **LAB 9 - AO* Algorithm**

In [ ]:
def table():
  travel_cost = {"bus":2500, "train":900, "flight":4500}
  stay_cost = {"westin":15000, "kennel worth":20000, "maria rica":25000}
  meal_cost = {"with food":4500, "without food":3000}
  vanity_van = {"cost":30000, "distance":1000, "meal_options":{"cooked":2000, "eat outside":4500}}
  distance_costs = {"westin":1000, "kennel worth":2000, "maria rica":3000}
  return {
      "Travel Costs": travel_cost,
        "Stay Costs": stay_cost,
        "Meal Costs": meal_cost,
        "Vanity Van": vanity_van,
        "Distance Costs": distance_costs
  }
print(table())

{'Travel Costs': {'bus': 2500, 'train': 900, 'flight': 4500}, 'Stay Costs': {'westin': 15000, 'kennel worth': 20000, 'maria rica': 25000}, 'Meal Costs': {'with food': 4500, 'without food': 3000}, 'Vanity Van': {'cost': 30000, 'distance': 1000, 'meal_options': {'cooked': 2000, 'eat outside': 4500}}, 'Distance Costs': {'westin': 1000, 'kennel worth': 2000, 'maria rica': 3000}}

In [ ]:
def ao_star():
    table_data = table()

    travel_costs = table_data["Travel Costs"]
    stay_costs = table_data["Stay Costs"]
    meal_costs = table_data["Meal Costs"]
    vanity_van = table_data["Vanity Van"]
    distance_costs = table_data["Distance Costs"]

    paths = []
    cost_details = []


    for travel, travel_cost in travel_costs.items():
        for stay, stay_cost in stay_costs.items():
            for meal_option, meal_cost in meal_costs.items():
                if meal_option == "with food":
                    total_cost = travel_cost + stay_cost + distance_costs[stay] + meal_costs["with food"]
                else:
                    total_cost = travel_cost + stay_cost + distance_costs[stay] + meal_costs["without food"]


                paths.append((travel, stay, meal_option, total_cost))
                cost_details.append((travel, stay, meal_option, total_cost))


    for meal_option, meal_cost in vanity_van["meal_options"].items():
        total_cost = vanity_van["cost"] + vanity_van["distance"] + meal_cost
        paths.append(("Vanity Van", "Vanity Van", meal_option, total_cost))
        cost_details.append(("Vanity Van", "Vanity Van", meal_option, total_cost))


    print(f"{'Travel Option':<15} {'Stay Option':<15} {'Meal Option':<15} {'Total Cost':<10}")
    print("=" * 55)
    for detail in cost_details:
        travel, stay, meal_option, total_cost = detail
        print(f"{travel:<15} {stay:<15} {meal_option:<15} {total_cost:<10}")


    min_cost = float('inf')
    best_path = None

    for path in paths:
        travel, stay, meal_option, cost = path
        if cost < min_cost:
            min_cost = cost
            best_path = path

    return min_cost, best_path

In [ ]:
optimal_cost, decision_path = ao_star()
print("The minimum cost to attend the wedding:", optimal_cost)
print("Path:", decision_path)

Travel Option   Stay Option     Meal Option     Total Cost
=======================================================
bus             westin          with food       23000
bus             westin          without food    21500
bus             kennel worth    with food       29000
bus             kennel worth    without food    27500
bus             maria rica      with food       35000
bus             maria rica      without food    33500
train           westin          with food       21400
train           westin          without food    19900
train           kennel worth    with food       27400
train           kennel worth    without food    25900
train           maria rica      with food       33400
train           maria rica      without food    31900
flight          westin          with food       25000
flight          westin          without food    23500
flight          kennel worth    with food       31000
flight          kennel worth    without food    29500
flight          maria rica      with food       37000
flight          maria rica      without food    35500
Vanity Van      Vanity Van      cooked          33000
Vanity Van      Vanity Van      eat outside     35500
The minimum cost to attend the wedding: 19900
Path: ('train', 'westin', 'without food', 19900)